@tailwind base;
@tailwind components;
@tailwind utilities;


/* he provided CSS code sets styling rules
for the <html>, <body>, and :root
 elements in an HTML document: */

 
html, body, :root {
  height: 100%;
  background-color: rgb(255, 255, 255);
  color-scheme: dark;

}

@keyframes pulsate {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.hover-pulsate:hover {
  animation: pulsate 0.5s infinite;
}

.hover-shrink:hover {
  transform: scale(0.95);
}

/* Add this to your CSS */
.hover\:gradient-blue-cyan {
  background: linear-gradient(to right, #e3342f, #00bcd4);
}

/* Add this to your CSS */
@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-pulsate:hover {
  animation: pulsate 1s infinite;
}

.animate-pulsate:active {
  animation: none; /* Disable animation on mouse release */
}
